@font-face {
    font-family: "Brandon Grotesque";
    src: url("/assets/css/fonts/BrandonGrotesque-Regular.eot?") format("eot"),
         url("/assets/css/fonts/BrandonGrotesque-Regular.woff") format("woff"),
         url("/assets/css/fonts/BrandonGrotesque-Regular.ttf") format("truetype"),
         url("/assets/css/fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("/assets/css/fonts/BrandonGrotesque-Medium.eot?") format("eot"),
         url("/assets/css/fonts/BrandonGrotesque-Medium.woff") format("woff"),
         url("/assets/css/fonts/BrandonGrotesque-Medium.ttf") format("truetype"),
         url("/assets/css/fonts/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium") format("svg");
    font-weight: bold;
    font-style: normal;
}