$main-font: 'Brandon Grotesque', sans-serif;

$second-color: #fdd156;
$black: #2a2424;
$white: #FFF;
$gray: #7F7F7F;

$small-radius: 5px;

$base-font-size: 14px;

$speed-color: #FE7058;
$altitude-color: #90DEAA;
$gear-color: #7CD6EE;
$flaps-color: #EDEDED;
$switch-color: #E8E8E8;
$connection-color: #EBEFFA;
$statistics-color: #E2D12D;

$switch-off: #DB5C45;
$switch-on: #91DC46;