$main-font: 'Brandon Grotesque', sans-serif;

$main-color: #FE7058;
$second-color: #fdd156;
$black: #2a2424;
$white: #FFF;
$gray: #8e9ea7;

$default-radius: 50px;
$small-radius: 5px;

$base-font-size: 14px;