@import '../../../assets/css/variables';

.card-flaps {
    background-color: $flaps-color;
    justify-content: space-between;

    & > * {
        background-size: contain;
    }
}

.card-flaps__arrow {
    width: 100px;
    height: 100px;
}

.card-flaps__arrow--left {
    background: url('../../../assets/images/arrow_left.svg');
    &:hover {
        background: url('../../../assets/images/arrow_left_hover.svg');
        background-size: contain;
    }
}

.card-flaps__arrow--right {
    background: url('../../../assets/images/arrow_right.svg');
    &:hover {
        background: url('../../../assets/images/arrow_right_hover.svg');
        background-size: contain;
    }
}

.card-flaps__position {
    font-size: 4rem;
}