<section class="monitor">
    <speed
        [currentSpeed]="dashboard.telemetry.airspeed">
    </speed>
    <altitude
        [currentAltitude]="dashboard.telemetry.altitude">
    </altitude>
    <switch
        [gearLanding]="currentGear"
        (onToggleSwitch)="toggleGearLanding($event)">
    </switch>
    <gear
        [gearLanding]="currentGear">
    </gear>
    <flaps
        [flapPosition]="dashboard.control.flaps"
        (onFlapChange)="flapChange($event)">
    </flaps>
    <div>
        <connection-status
            [status]="currentStatus"
            [milliseconds]="reconnectMilliseconds">
        </connection-status>
        <statistics></statistics>
    </div>
</section>