@import '../../assets/css/variables';

.header {
    height: 80px;
    background: url('../../assets/images/sky.jpg') repeat-x;
    background-size: contain;
    color: $black;
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.header__container--title {
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.header__container--settings {
    flex: 0 0 20px;
}

.header__img--settings {
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 850px) {
    .header {
        background-size: cover;
    }
}