<tile-small
    [template]="connectionTemplate">
    <ng-template #connectionTemplate>
        <div class="cards-info card-connection">
            <div class="card-connection__status-info">
                <span>
                    {{ status }}
                </span>
                <div class="card-connection__status-footer">
                    <img
                        class="card-connection__img"
                        [src]="statusImage">
                    {{ connectionLabel }}
                </div>
            </div>
        </div>
    </ng-template>
</tile-small>