@import '../../../assets/css/variables';

.card-connection {
    background-color: $connection-color;
    justify-content: center;
}

.card-connection__status-info {
    font-size: 3.6rem;
}

.card-connection__status-footer {
    color: $gray;
    font-size: .9rem;
    width: 100%;
    text-align: center;
}

.card-connection__img {
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
}