<tile
    [template]="altitudeTemplate"
    [footerInfo]="tileInfo">
    <ng-template #altitudeTemplate>
        <div class="cards-info card-altitude">
            <gauge
                [config]="gaugeConfigNeedleBase"
                [value]="altitude.big.value">
            </gauge>
            <div class="card-altitude__shadow-gauge">
                <gauge
                    [config]="gaugeConfigNeedleMiddle"
                    [value]="altitude.middle.value">
                </gauge>
            </div>
            <div class="card-altitude__shadow-gauge">
                <gauge
                    [config]="gaugeConfigNeedleShort"
                    [value]="altitude.short.value">
                </gauge>
            </div>
            <div class="card-altitude__shadow-gauge">
                <gauge
                    [config]="gaugeConfigBox"
                    [value]="currentAltitude">
                </gauge>
            </div>
        </div>
    </ng-template>
</tile>