<radial-gauge
    width="220"
    height="220"
    minor-ticks="2"
    stroke-ticks="false"
    ticks-width="15"
    color-title="#2a2424"
    color-units="#7F7F7F"
    borders="false"
    border-radius="10"
    animation-duration="500"
    animation-rule="linear"
    animated-value="true"
    color-needle="#284C58"
    color-needle-end="#284C58"
    color-needle-circle-inner="#284C58"
    color-needle-circle-inner-end="#284C58"
    value-box-stroke="0"
    value-dec="0"
    value-int="1"
    font-title="'Brandon Grotesque', sans-serif"
    font-units="'Brandon Grotesque', sans-serif"
    font-numbers="'Brandon Grotesque', sans-serif"
    font-value="'Brandon Grotesque', sans-serif"

    [attr.needle]="config.needle"
    [attr.needle-end]="config.needleEnd"
    [attr.needle-type]="config.needleType"
    [attr.color-numbers]="config.colorNumbers"
    [attr.color-major-ticks]="config.colorMajorTicks"
    [attr.color-minor-ticks]="config.colorMinorTicks"
    [attr.color-plate]="config.colorPlate"
    [attr.color-plate-end]="config.colorPlateEnd"
    [attr.units]="config.units"
    [attr.title]="config.title"
    [attr.min-value]="config.minValue"
    [attr.max-value]="config.maxValue"
    [attr.value-box]="config.valueBox"
    [attr.major-ticks]="config.majorTicks.join(',')"
    [attr.highlights]="config.highlights"
    [attr.value]="value">
</radial-gauge>